

#todo {
  border: 1px solid black;
  width: 300px;
  position: relative;
  padding: 30px;
  height: 160px;
}
#sizefont {
  font-size: 15px;
}
#mapdata {
  padding: 20px;
  display: grid;
  justify-content: space-evenly;
  gap: 20px ;
  grid-template-columns: 300px 300px 300px 300px;
}
.thickid {
  font-weight: bold;
  position: absolute;
  left: 3;
  top: 10px;
}
.thickstatus {
  font-weight: bold;
  position: absolute;
  right: 20px;  
  top: 10px;
}
.thickstatus1 {
  font-weight: bold;
  position: absolute;
  right: 20px;  
  top: 29px;
}
.title{
  font-weight: bold;
}
#todobuttons{
  margin: 0;;
  padding: 0;
  display: flex;
  gap: 40px;
  width: 250px;
  position: absolute;
  bottom: 10px;
}
#todobuttons >button{
  width: 50%;
}